
.chapter{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  

}
.chapter>p{
    font-size:30px;
    border: 2px;
    background-color: rgb(241, 179, 247);
   
    border-radius:20px;
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 4px gray;
}
h1{
    box-shadow: 2px 4px 2px gray; 
    text-align: center;
    font-weight: bolder;
    padding: 5px; 
    font-size: 60px;
    background-color: whitesmoke;
}

